body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #192734;
}

header{
    padding: 20px;
    text-align: center;
    background-color: #06121c;
    color: white;
}

#searchBar{
    margin-top: 10px;
    padding: 8px;
    width: 250px;
}
/* Default: Vertical */
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}
/* Desktop */
@media (min-width: 900px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }

/* Wide Desktop*/
@media (min-width: 1200px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}

}
.card{
    background:#668198;
    padding: 15px;
    border-radius: 20px;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: #15202b;
}

/* Removes hyperlink styling */
.card-link {
    text-decoration: none;
    color: inherit;
}
