body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f5f7;
    color: #1f2933;
}

header{
    padding: 20px;
    text-align: center;
    background-color: #06121c;
    color: white;
}

#searchBar{
    margin-top: 10px;
    padding: 8px;
    width: 250px;
}
/* Default: Vertical */
.gallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
}
/* Desktop */
@media (min-width: 900px){
    .gallery{
        grid-template-columns: repeat(3, 1fr);
    }

/* Wide Desktop*/
@media (min-width: 1200px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
    }
}

}
.card{
    background:#ffffff;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.09)
}
.card:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    display: #15202b;
}

/* Removes hyperlink styling */
.card-link {
    text-decoration: none;
    color: inherit;
}

/*---------------------------------------------*/

.details {
    background-color: transparent;
}

.details #description {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 15px 20px;
    color: #4b5563;
}

.details-page h1{
    font-size: 3.6rem;
    text-align: center;
    margin: 20px 0 10px;
    letter-spacing: .5px;
    text-transform: uppercase;
    
}
/* Line after header */
.details-page h1::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #000000;
    margin: 10px auto 0;
}


.details-page .details-image {
    width: 100%;
    max-width: 500px;
    display: block;
    margin: 30px auto;

    padding: 10px;
    background-color: #000000;
    border: 2px solid #3a3a3a;
    border-radius: 12px;

    box-shadow: 0 8px 20px rbga(0,0,0,0.2);
}

.details-page .details {
    max-width: 900;
    margin: 0 auto;
    padding: 30px 20px;
}

.details-page h1 {
    text-align: center;
    font-size: 2rem;
}

.details-image.big {
    max-width: 2000px;
    
}


/* Button */
#toggleImage {
    display: block;
    margin: 10px auto 20px;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    background-color: #444;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
button,
.back-link {
    background-color: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 14px;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.back-link:hover {
    background-color: #2563eb;
}


#toggleImage:hover {
    background-color: #222;
}

#abilities li {
    background-color: #f9fafb;
    border-radius: 8px;
    padding: 14px;
    margin-bottom: 12px;
}

#abilities strong {
    color: #1f2933;
}
