body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

header{
    padding: 20px;
    text-align: center;
    background-color: #222;
    color: white;
}

#searchBar{
    margin-top: 10px;
    padding: 8px;
    width: 250px;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}
.card{
    background:white;
    padding: 15px;
    border-radius: 8px;
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: #f2f2f2;
}